version: "3.8"

services:
  frontend:
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./certs:/etc/nginx/certs:ro
      - ./nginx.prod.conf:/etc/nginx/conf.d/default.conf:ro

  backend:
    environment:
      - DEBUG=false
